/*  your css code here. If applicable */

		#grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: 124px 124px 124px;
            gap: 10px;
            /* background-color: #2196F3; */
            padding: 10px;
        }

        #grid > div {
            background-color: green;
            color: aliceblue;
            padding: 10px;
            font-size: 30px;
        }

        .box1 {
            grid-column: span 4;
        }
        .box2 {
            grid-row: span 4;
        }
        .box3 {
            grid-row: span 1;
        }
        .box4 {
            grid-column: span 2;
        }
        .box5 {
            grid-column: span 2;
        }
        .box6 {
            grid-row: span 1;
        }
        .box7 {
            grid-row: span 1;
        }
        .box8 {
            grid-row: span 1;
        }
        .box9 {
            grid-row: span 1;
        }
        .box10 {
            grid-column: span 3;
        }